@{
    ViewData["Title"] = "Text statistics";
}

<div>
    <p>
        Общее количество всех обработанных текстов: @(ViewData["TextNum"])           
    </p>
    <p>
        Количество текстов с высокой оценкой (выше 0.5): @(ViewData["HighRankPart"])           
    </p>
    <p>
        Средняя оценка: @(ViewData["AvgRank"])           
    </p>
</div>