@{
    ViewData["Title"] = "Data input";
}
<div>
    <h2>Форма ввода</h2>
    <form method="post">
        Data: <input name="data" type="text"/>
        <select name="region">
            <option value="rus">RUS - Россия</option>
            <option value="eu">EU - Европейский Союз</option>
            <option value="usa">USA - США</option>
        </select>
        <br>
        <input type="submit">
    </form>
</div>